.food-item-card{
    height: 45vh;
    width: 40%;
    background-color: aqua;
    margin: 12px;
    text-align: center;
    border-radius: 9px;
    text-decoration: none;
    padding: 6px;
}

p{
    color:rgb(15, 14, 14);
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

